/*=============================================================

	font-family

============================================================= */
$font-family              : "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
$font-family-blankopsone  : 'Black Ops One', cursive;

/*=============================================================

	color

============================================================= */
$color-blue : #4984B5;


/*=============================================================

	line-height

============================================================= */
$line-height-head : 1.3;
$line-height-body : 1.7;
$line-height-base : 2;


/*=============================================================

	break point

============================================================= */
$for-tablet-landscape-up	: 1120px;
$for-tablet-portrait-up		: 768px;
$for-phone                  : $for-tablet-portrait-up - 1px;